{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de passe{% endblock %}

{% block body %}
    <h1>Entrer votre nouveau mot de passe</h1>
    <form method="post">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
        <input type="hidden" name="token" value="{{ token }}">

        <button>Valider</button>
    </form>

{% endblock %}