<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">RGPD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Politique de confidentialité Partagez-moi (20 janvier 2021)</h3>
                <p>Afin que vous puissiez utiliser le Service Partagez-moi en toute confiance, la présente Politique de confidentialité vise à décrire de manière transparente quelles données sont traitées par XXXXX, comment et pourquoi.</p>
                <h4>Type de données collectées</h4>
                <h4>Utilisation de vos données</h4>
                <h4>Destinataires des données</h4>
                <h4>Responsable de traitement</h4>
                <h4>Durée de conservation</h4>
                <h4>Vos droits</h4>
                <h4>Sécurité de vos données</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermez</button>
            </div>
        </div>
    </div>
</div>