{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block body %}
    <div class="conteneur">
        <div class="list">
            {% for produit in produits %}
                <div>
                    <h3 class="card-header">{{ produit.nom }} <br> (à partir de 4.99 € / jour</h3>
                    <img class="card-img-top" src="https://static.fnac-static.com/multimedia/Images/FR/MDM/50/99/c2/12753232/1540-1/tsp20201026171122/Raclette-Tefal-8-coupelles-RE320012-1050-W-Noir.jpg"/>
                    <div class="card-body">
                        <p class="card-text">{{ produit.contenu }}</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary-success">Détails</a>
                        <a href="#">Ajouter</a>
                        <br>
                        <a>
                            <i class="fas fa-thumbs-down"></i>
                            <span class="js-likes">12 Je n'aime pas</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}