<form method="post" action="{{ path('resultats_delete', {'id': resultats_quotidien.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resultats_quotidien.id) }}">
    <button class="btn">Delete</button>
</form>
