<h1>Activation du compte Gérant - Partagez-moi</h1>
<p>Veuillez cliquer sur le lien ci-dessous pour activez votre compte</p>
<a href="{{ absolute_url(path('activation_gerant', {'token' : token} )) }}">Activez mon compte</a>