<h1>Activation du compte Partagez-moi</h1>
<p>Veuillez cliquer sur le lien ci-dessous pour activez votre compte</p>
<a href="{{ absolute_url(path('activation', {'token' : token} )) }}">Activez mon compte</a>