<h1>Reinitialisation de votre password</h1>
<p>Une demande de réinitialisation a été effectué sur le site www.partagez-moi.fr</p>
<p>Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre password</p>
<a href="{{ url }}">Réinitialiser votre password</a>